@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../vendor/fonts/PlusJakartaSans-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background: #f8f8f8;
  color: #171717;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}

.logo {
  font-weight: bold;
  letter-spacing: 3px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu a,
.nav-right a {
  text-decoration: none;
  color: black;
}

.nav-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.btn-signup {
  background: black;
  color: white !important;
  padding: 12px 24px;
  border-radius: 10px;
}

/* HERO */

.hero {
  text-align: center;
  padding: 60px 20px;
}

.hero p {
  color: gray;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 5rem;
  line-height: 1.1;
  margin-bottom: 30px;
}

.gradient-text {
  background: linear-gradient(to right, #ff00ff, #7b61ff, #2142ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero button {
  background: black;
  color: white;
  border: none;
  padding: 18px 40px;
  border-radius: 10px;
  cursor: pointer;
}

.hero-info {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
  color: gray;
}

/* VIDEO */

.video-section {
  padding: 40px 20px;
}

.video-container {
  max-width: 950px;
  margin: auto;
  position: relative;
}

.video-container img {
  width: 100%;
  border-radius: 15px;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80px;
  height: 80px;
  border-radius: 50%;

  background: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 20px;
  }

  .menu {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-right {
    flex-direction: column;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero-info {
    flex-direction: column;
  }

  .play-btn {
    width: 60px;
    height: 60px;
  }
}
